#toko-main{
    display: flex;
    /* padding: 20px 7vmin 20px 7vmin; */
    /* color: white; */
    background-color: #030027;
    justify-content: space-evenly;
    align-items: center;
   
}
#util-1:hover{
    transform: scale(1.1);
}
#util-1{
    display: flex;
    border: 2px solid skyblue;
    background: #F7F4F1;
    border-radius: 10px;
    padding: 14px;
    gap: 40px;
    transition: all ease-in-out 0.4s;
}
#util-1>span{
    font-weight: 700;
}
#util-left{
    width:13vmax;
}
#toko-head{
    display: flex;
    flex-direction: column;
    gap: -10px;
    align-items: center;
}
#toko-h{
    color: white;
    margin-top: 50px !important;
    margin: 20px;
   background-color: #030027;
    text-align: center;
}
#toko-p{
    text-align: center;
    color: white;
    width: 70vw;
}
#toko-left {
    height: 35vmax;
    width: 35vmax;
}
#toko-left>img {
    height: 100%;
    width: 100%;
    transition: all ease-in-out 0.3s;
}
#toko-left>img:hover {
    transform: scale(1.1);
}
#toko-right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#toko-right>h5{
     text-align: center;
     color: white;
     /* color: var(--light); */
}
.toko-card{
    width: 474.89px;
        height: 55.88px;
         
        color: black;
        padding: 10px;
        border-radius: 6px;
        /* border-left: 9px solid rgb(129, 228, 120)!important; */
            border: 2px solid #189AD6;
            background: #cfcfce;
            transition: all ease-in-out 0.3s;
}

.toko-card:hover{
    transform: scale(1.1);
}

.toko-card>h5{
    color:black;
}
.toko-card>h5>span{
    color: rgb(86, 125, 28);
    font-weight: 900;
    -webkit-text-stroke: 1px rgb(136, 131, 131);
}
.toko-card>p{
    color: gray;
}


@media (max-width:1145px)
{
    #toko-main {
             
            flex-direction: column;
             gap: 40px;
        }
                .toko-card {
                    width: 70vmin;
                    height: 87.88px;
        
                   
                }
                #toko-left{
                    height: 50vmax;
                    width: 50vmax;
                }
                #toko-left>img{
                    height: 100%;
                    width: 100%;
                }
}

#contract {
    z-index: 2;
    margin-top: 3vmax;
    margin-bottom: 6vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contract>h3 {
    font-size: 2vmax;
}

#contract-button {
    display: flex;
    gap: 20px;
}
@media (max-width:450px)
{
    #contract-button {
            display: flex;
            flex-direction: column;
            /* gap: 20px; */
        }
}